.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-form {
    width: 125px;
    padding: 20px;
    border: 1px solid #27293d;
    border-radius: 50%;
}

.card-header {
    display: flex;
    justify-content: flex-end;
}

.card-body {
    text-align: center;
}

.btn-term {
    border: none;
    background: unset;
}

.btn-term:hover {
    background: grey;
    border-radius: 5px;
}

.title {
    color:  #27293d;
}


.table {
    margin-bottom: 0;
}

